.btn 
{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  transition: background-color .3s ease;
}

.primary
{
  background-color: #007bff;
}

.secondary
{
  background-color: #6c757d;
}

.success
{
  background-color: #28a745;
}

.btn:hover
{
  background-color: #0056b3;
}